{{!-- Citation 
scope (module, function or line): entire code 
date: 02/14/23
originality (copied, adapted, or based): copied
source: CS340 starter code --}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Book Database</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

    {{{body}}}

</body>
</html>