body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-color: #1d1e22; */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans serif;
  }


/* NAV Bar */
nav {  
    padding: 0;  
    margin: 0;
    /* background-color:#77DD77;   */
    background-color: #DC4405;
    font-size: 12px;  
    text-transform: uppercase;
    text-align: center;
}

ul {
    margin: 0;
}

#navli {  
    display: inline-block;
}

a {  
    display: block;  
    padding: 10px;  
    color: white;  
    text-decoration: none;
}

a:hover {
    background-color: black;
}

/* Headers */
h1 {
    text-align: center;
}

h3 {
    text-align: center;
    margin: 0;
}

/* Homepage Description */
h4 {
    margin-left: 20%;
    margin-right: 20%;   
}
.overview {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 17px;
}

img {
    margin-left: 20%;
    margin-right: 20%;
}

/* Tables */
table {
    border-collapse: collapse;
    /* margin: 25px 0; */
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, td {
    padding: 12px 15px;
}

thead tr {
    background-color: black;
    color: #ffffff;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid black;
}

/* Forms */
fieldset {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
}

form {
    margin-top: 20px;
    text-align: center;
  }
   
  /* input,
  textarea {
    padding: 1px;
    margin: 5px;
    width: 35%;
    border: 1px solid;
  } */

  input, select, textarea {
    width: 100%;
    padding: 5px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #blue_button {
    margin-top: 5px;
    cursor: pointer;
    background-color: #1b66c9;
    color: white;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 9px 15px;
  }

  #blue_button:hover {
    background-color: #1a73e8;
  }

.books_authors {
    float: left;
    margin-left: 20%;

}

.series_authors {
    float: right;
    margin-right: 20%;

}

/* Footer */
  footer {
    justify-content: center;
    padding: 5px;
    background-color: #DC4405;
    color: white;
  }