<!-- NAV -->
<nav>
    <ul>
        <li id = "navli"><a href="/">Home</a></li>
        <li id = "navli"><a href="books">Books</a></li>
        <li id = "navli"><a href="authors">Authors</a></li>
        <li id = "navli"><a href="series">Series</a></li>
        <li id = "navli"><a href="genres">Genres</a></li>
    </ul>
</nav>

<!-- Header -->
<h1>Authors</h1>

<!-- Form for adding an author -->
<form id="add_authors">
    <fieldset>
        <legend>Add an Author</legend>

        <label for="first_name">First name:</label>
        <input type="text" name="first_name" id="first_name">
        <!-- <br> -->

        <label for="last_name">Last Name:</label>
        <input name="last_name" id="last_name">
        <br>

        <input type="submit" id="blue_button" value="Add Author"> 
        <button id="blue_button" onclick="window.history.go(-1); return false;">Cancel</button>  
    </fieldset>
</form> 

<script src="js/add_author.js"></script>