<!-- NAV -->
<nav>
    <ul>
        <li id = "navli"><a href="/">Home</a></li>
        <li id = "navli"><a href="books">Books</a></li>
        <li id = "navli"><a href="authors">Authors</a></li>
        <li id = "navli"><a href="series">Series</a></li>
        <li id = "navli"><a href="genres">Genres</a></li>
        <li id = "navli"><a href="intersection_tables">Book and Series to Authors</a></li>
    </ul>
</nav>

<!-- Header -->
<h1>Authors</h1>

<!-- Table -->
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>J.R.R.</td>
            <td>Tolkien</td>
            <td><button onclick="location.href='/edit_authors'">Edit</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>J.K.</td>
            <td>Rowling</td>
            <td><button onclick="location.href='/edit_authors'">Edit</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>Suzanne</td>
            <td>Collins</td>
            <td><button onclick="location.href='/edit_authors'">Edit</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>Brandon</td>
            <td>Sanderson</td>
            <td><button onclick="location.href='/edit_authors'">Edit</button></td>
            <td><button>Delete</button></td>
        </tr>
    </tbody>
</table>

<!-- Button to add author -->
<button onclick="location.href='add_authors'" id="blue_button">Add Author</button> 

