<!-- NAV -->
  <nav>
    <ul>
        <li id = "navli"><a href="/">Home</a></li>
        <li id = "navli"><a href="books">Books</a></li>
        <li id = "navli"><a href="authors">Authors</a></li>
        <li id = "navli"><a href="series">Series</a></li>
        <li id = "navli"><a href="genres">Genres</a></li>
        <li id = "navli"><a href="intersection_tables">Book and Series to Authors</a></li>
      </ul>
  </nav>

<!-- Header -->
<h1>Books</h1>

<!-- Table -->
<table class="books_table">

    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>In Series?</th>
            <th>Series</th>
            <th>Genre</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>The Fellowship of the Ring</td>
            <td>J.R.R. Tolkien</td>
            <td>Yes</td>
            <td>Lord of the Rings</td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
        <tr>
            <td>The Two Towers</td>
            <td>J.R.R. Tolkien</td>
            <td>Yes</td>
            <td>Lord of the Rings</td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
        <tr>
            <td>The Return of the King</td>
            <td>J.R.R. Tolkien</td>
            <td>Yes</td>
            <td>Lord of the Rings</td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
        <tr>
            <td>The Way of Kings</td>
            <td>Brandon Sanderson</td>
            <td>Yes</td>
            <td>The Stormlight Archive</td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
        <tr>
            <td>Words of Radiance</td>
            <td>Brandon Sanderson</td>
            <td>Yes</td>
            <td>The Stormlight Archive</td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
        <tr>
            <td>Oathbringer</td>
            <td>Brandon Sanderson</td>
            <td>Yes</td>
            <td>The Stormlight Archive</td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
        <tr>
            <td>Rhythm of War</td>
            <td>Brandon Sanderson</td>
            <td>Yes</td>
            <td>The Stormlight Archive</td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
        <tr>
            <td>Warbreaker</td>
            <td>Brandon Sanderson</td>
            <td>No</td>
            <td></td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
    </tbody>

</table> 

<!-- Button to add book -->
<button onclick="location.href='add_books'" id="blue_button">Add Book</button> 