<!-- NAV -->
  <nav>
    <ul>
        <li id = "navli"><a href="/">Home</a></li>
        <li id = "navli"><a href="books">Books</a></li>
        <li id = "navli"><a href="authors">Authors</a></li>
        <li id = "navli"><a href="series">Series</a></li>
        <li id = "navli"><a href="genres">Genres</a></li>
        <li id = "navli"><a href="intersection_tables">Book and Series to Authors</a></li>
      </ul>
  </nav>

<!-- Header -->
<h1>Books</h1>

<!-- Table -->
<table class="books_table">

    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>In Series?</th>
            <th>Series</th>
            <th>Genre</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>The Fellowship of the Ring</td>
            <td>J.R.R. Tolkien</td>
            <td>Yes</td>
            <td>Lord of the Rings</td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
        <tr>
            <td>The Two Towers</td>
            <td>J.R.R. Tolkien</td>
            <td>Yes</td>
            <td>Lord of the Rings</td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
        <tr>
            <td>The Return of the King</td>
            <td>J.R.R. Tolkien</td>
            <td>Yes</td>
            <td>Lord of the Rings</td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
        <tr>
            <td>The Way of Kings</td>
            <td>Brandon Sanderson</td>
            <td>Yes</td>
            <td>The Stormlight Archive</td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
        <tr>
            <td>Words of Radiance</td>
            <td>Brandon Sanderson</td>
            <td>Yes</td>
            <td>The Stormlight Archive</td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
        <tr>
            <td>Oathbringer</td>
            <td>Brandon Sanderson</td>
            <td>Yes</td>
            <td>The Stormlight Archive</td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
        <tr>
            <td>Rhythm of War</td>
            <td>Brandon Sanderson</td>
            <td>Yes</td>
            <td>The Stormlight Archive</td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
        <tr>
            <td>Warbreaker</td>
            <td>Brandon Sanderson</td>
            <td>No</td>
            <td></td>
            <td>Fantasy</td>
            <td><button class="books_button" onclick="location.href='/edit_books'">Edit</button></td>
            <td><button class="books_button">Delete</button></td>
        </tr>
    </tbody>

</table> 

<!-- Form for adding a book -->
<form>
    <fieldset>
    <legend>Add a Book</legend>

    <label for="title">Title:</label>
    <input type="text" name="title" id="title">
    <br>

    <label for="author">Author(s):</label>
    <select multiple name="author" id="author">
        <option value="1">J.R.R. Tolkien</option>
        <option value="2">J.K. Rowling</option>
        <option value="3">Suzanne Collins</option>
        <option value="4">Brandon Sanderson</option>
    </select>

    <br>

    <label for="in_series">Part of a series?</label>
    <select name="in_series" id="in_series">
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>
    <br>

    <label for="series">Series</label>
    <select name="series" id="series">
        <option disabled selected value> -- select a series -- </option>
        <option value="1">Lord of the Rings</option>
        <option value="2">Harry Potter</option>
        <option value="3">Hunger Games</option>
    </select>
    <br>

    <label for="genre">Genre</label>
    <select name="genre" id="genre">
        <option value="1">Fantasy</option>
        <option value="2">Science Fiction</option>
        <option value="3">Mystery</option>
    </select>
    <br>

    <p>** If author, series or genre was not found, please create them first.</p>

    <button id="blue_button" disabled>Add Book</button>    
    </fieldset>
</form> 