<!-- NAV -->
<nav>
  <ul>
        <li id = "navli"><a href="/">Home</a></li>
        <li id = "navli"><a href="books">Books</a></li>
        <li id = "navli"><a href="authors">Authors</a></li>
        <li id = "navli"><a href="series">Series</a></li>
        <li id = "navli"><a href="genres">Genres</a></li>
    </ul>
</nav>

<!-- Header -->
<h1>Book Database</h1>

<h4>Overview</h4>
<p class="overview">A friend is an avid reader. Her personal library currently contains approximately 1,000 books. 
    But she is constantly trading, selling and adding to her library. At the moment her library is 
    increasing at about 30 books a month. That will amount to a 33% increase by the end of the year, 
    with an estimation of similar percentage growth for the next 10 years. To help her manage her 
    collection better, we will create a database driven website that will record Books to Authors, 
    Series and Genres. </p>

<h4>Entity-Relationship Diagram</h4>
<img src="./images/erd.jpeg">

<h4>Schema</h4>
<img src="./images/schema.jpeg">

<footer>
    <h3>Oregon State University</h3>
    <h3>CS340 - Introduction to Databases</h3>
    <h3>Made by: Amanda Dattalo and Fabiano Srur</h3>
</footer>